.img {
    height: 50px;
    width: 50px;
}

.segment-wrapper-skills > .segment-container,
.segment-wrapper-skills > .segment-arch::before {
  background-color: #181818;
}

.react-color {
    color: #00CCFF;
}

.redux-color {
    color: #7c3cbb;
}

.jquery-color {
    color: rgba(0, 153, 255, 0.877);
}

.javascript-color {
    color: #FFFF00;
}

.html5-color {
    color: #FF6633;
}

.css3-color {
    color: rgb(58, 125, 224);
}